@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Honeybear Media</h1>
    <p>Welcome to our movie watchlist!</p>
</div>
<div class="row mt-5">
    <div class="col-md-4 text-center">
        <p>Want to see our awesome movie list?</p>
        <a asp-controller="Movies" class="btn dark-pink" style="width:170px;" role="button">Our Movie List</a>
    </div>
    <div class="col-md-4 text-center">
        <p>Want to see our movie reviews?</p>
        <a asp-controller="Movies" class="btn dark-pink" style="width:170px;" role="button">Our Movie List</a>
    </div>
    <div class="col-md-4 text-center">
        <p>Want to reccomend us a movie?</p>
        <a asp-controller="Movies" class="btn dark-pink" style="width:170px;" role="button">Our Movie List</a>
    </div>
</div>
