@model MoviesAppTest.Models.Movie

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row">
        <form class="col-sm-4 mt-5" asp-action="Create" enctype="multipart/form-data"> 
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control"/>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control"/>
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <select asp-for="Rating" class="form-select">
                     <option value="NC-17">Nc-17</option>
                     <option value="R" selected>R</option>
                     <option value="PG-13">PG-13</option>
                     <option value="PG">PG</option>
                     <option value="G">G</option>
                </select>
            </div>
              <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control"/>
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input type="file" name="file" class="form-control"/>
            </div>
             <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn-primary btn" style="width:75px"/>
                <a asp-action="Index" class="btn-primary btn" style="width:75px">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
